img {
	width: 100px;
	height: 100px;
}

.fondoRojo {
	background-color: red;
}


.seleccionado {
	border: 5px solid red;
	opacity: 1;
}

.noSeleccionado {
	opacity: 0.5;
}

.game {
	width: 100vw;  /* 1000% del ancho de la ventana */
	height: 80vh; /* 80% de la altura de la ventana */
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;  /* Centrar contenido interno horizontalmente */
	align-items: center;      /* Centrar contenido interno verticalmente */
	border-radius: 10px; /* Opcional: hacer las esquinas redondeadas */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.resultado img {
	width: 300px;
	height: 300px;
}

